<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="Browser" value="Chrome"></parameter>
<parameter name="Name" value="Kannan"></parameter>
<parameter name="Phone" value="7560989903"></parameter>
<parameter name="Email" value="mubeenavb001@gmail.com"></parameter>
<parameter name="Discount" value="100"></parameter>
<parameter name="EditPhone" value="9544124706"></parameter>
<parameter name="EditEmail" value="mubeenavb007@gmail.com"></parameter>
<parameter name="Discount" value="100"></parameter>
<parameter name="Notes" value="Added Supplier"></parameter>
<listeners>
<listener class-name="com.Restaurant.Utilities.ListenerClass" />
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.Restaurant.Testcases.VerifyAddProductTest"/>
      <class name="com.Restaurant.Testcases.VerifyAddExpenceTest"/>
      <class name="com.Restaurant.Testcases.VerifyAddCustomerTest"/>
      <class name="com.Restaurant.Testcases.VerifyAddSupplierTest"/>
      <class name="com.Restaurant.Testcases.VerifyClientStatsGetReportTest"/>
      <class name="com.Restaurant.Testcases.VerifyHomePageTest"/>
      <class name="com.Restaurant.Testcases.VerifyStockStatsGetReportTest"/>
      <class name="com.Restaurant.Testcases.VerifyEditStoreTest"/>
      <class name="com.Restaurant.Testcases.VerifyRegisterStatsGetReportTest"/>
      <class name="com.Restaurant.Testcases.VerifyProductStatsGetReportTest"/>
      <class name="com.Restaurant.Testcases.VerifyEditWaiterTest"/>
      <class name="com.Restaurant.Testcases.VerifyChangeLanguageTest"/>
      <class name="com.Restaurant.Testcases.VerifyUserLoginTest"/>
      <class name="com.Restaurant.Testcases.VerifyReportsPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
